/* .friendList {
  display: flex;
  list-style: none;
}

.item {}

.status {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: auto;
}


.avatar {}

.name {} */