/* Додайте ці стилі у відповідне місце вашого CSS-файлу або скомпілюйте їх у CSS-модуль */

.transactionHistory {
  width: 975px;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 100px;
}

th,
td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

td:nth-child(1) {
  background-color: #aacbe0;
  font-weight: 700;

}

th {
  background-color: #18b4e6;
  font-weight: 700;
}

tr:hover {
  background-color: #d5d5d5;
}